/**
 * Thème pour la page des élections
 *
 * @package agebdeb.org
 * @category CSS
 * @author Guillaume Poirier-Morency <guillaumepoiriermorency@gmail.com>
 */
.hero-unit {
    background: url('../img/elections/background.png'); 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.hero-unit > h1, .hero-unit > h2 {
    color: white;
}


