/* CSS de base */
body {
    font-family: 'Open Sans', 'Arial','Arial-ItalicMT','sans-serif';
}

/* Heading */
h1 {
    color:#000;
    font-size:60px;
    font-weight:700;
}

h2 {
    font-size:37px;
    color:#000;
    font-weight:400;
}

h3 {
    margin:10px auto;
    color:#000;
    font-weight:400;
}

h4 {
    margin:10px auto;
    font-size:15px;
    color:#000;
}

/* Liens */
a {
    -moz-transition:.5s;
    -webkit-transition:.5s;
    text-decoration:none;
	color: black;
}

input[type=checkbox] {
    margin: 5px auto;
}


li.error {
    margin: 0;
}

.clear {
	clear: both;
}

.pull-left {
	float: left;
}

.pull-left.first-pull {
	padding-left: 0px;
}

.pull-left:first-of-type {
	padding-left: 0px;
}

.span2 {
	width: 40%;
	padding: 0 20px;
	box-sizing: border-box;
}
.span4 {
	width: 60%;
	padding: 0 20px;
	box-sizing: border-box;
}

