/*
 * Elements de type bloc
 */

body {
    background: #dadcca url('../image/agebdeb.org/background.gif');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: repeat-x;
    font-size: 13px;
}
