body {
	width: 960px;
	margin: auto;
}

nav {
	width: 20%;
	min-height:450px;
	border:1px solid #ccc;
}

nav > ul {
	margin: 1em;
}

li.parent {
	font-weight: bold;
	list-style-type: disc;
	list-style-position:inside;
}

li.parent:hover {
	list-style-type: circle;
}

li.parent ul {
	font-weight: normal;
	height: 0px;
	overflow: hidden;
	transition: height 0.25s;
}

li.parent:hover ul {
	height:4em;
	background-color: rgba(0,0,0,0.0075);
}

.pull-left {
	float: left;
}

#content-container {
	border: 1px solid #ccc;
	min-height: 450px;
}